// PRIMARY COLORS
$color-primary: #1f6e8c;
$color-primary-light: #3a94c5;
$color-primary-dark: #144d64;

// SECONDARY COLORS
$color-secondary-light: #ffc857;
$color-secondary-dark: #d98324;

// TERTIARY COLORS
$color-tertiary-light: #52b788;
$color-tertiary-dark: #206a5d;

// ACCENT COLORS
$color-accent-1: #e94560;
$color-accent-2: #9b5de5;
$color-accent-3: #14a76c;

// NEUTRAL COLORS
$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #e3e3e3;

$color-grey-dark: #4a4e69;
$color-grey-dark-2: #22223b;
$color-grey-dark-3: #0f172a;

// BASE COLORS
$color-white: #ffffff;
$color-black: #131517;

// FONT SETTINGS
$default-font-size: 1.6rem;

// GRID SETTINGS
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
